@font-face {
  font-family: gothic;
  src: url(assets/fonts/perrygothic.ttf);
}

body {
  color: rgba(220, 220, 220, 1);
  background: url(assets/images/stones3.jpg)
}

.hide {
  display: none !important;
}
