<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
  <h3 class="gothic">Siege</h3>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="circle"><span>{{character.relicsCaptured}}</span></div>
      <p class="circle-label">Relics Captured</p>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="circle"><span>{{character.keepsCaptured}}</span></div>
      <p class="circle-label">Keeps Captured</p>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="circle"><span>{{character.keepBossesKilled}}</span></div>
      <p class="circle-label">Keep Jarl/Chieftan Slain</p>
    </div>
  </div>
</div>
