@font-face {
    font-family: gothic;
    src: url(perrygothic.ttf);
}

body {
    color: rgba(220, 220, 220, 1);
    background: url(images/stones3.jpg)
}

#hero {
    background: url(images/apk.jpg);
    color: white;
    padding-left: 35%;
    padding-bottom: 1%;
    margin-bottom: 0px;
    
}

#hero h3 {
    margin-top: 0px;
}

.banner-images {
    margin-top: -10%;
}

#guild-emblem {
    margin-top: -5%;
}

#emblem {
    width: 100px;
    height: auto;
    float: right;
}

#main-info {
    color: white;
}

.red {
    color: red;
}

#character-name {
    color: white;
}

#guild-name {
    color: rgba(220, 220, 220, 1);
}

.gothic {
    font-family: 'gothic', sans-serif;
    color: #ffba00;
}

.row {
    margin-bottom: 3%;
}

.circle {
    border-radius: 10%;
    background-color: rgba(255, 206, 86, 0.2);
    border: solid 1px rgba(255, 206, 86, 1);
    color: rgba(255, 206, 86, 1);
    height: 60px;
    width: 60px;
    display: table;
}

.circle span {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    font-size: 1.5em;
}

.circle-label {
    font-size: .8em;
}

.achievement {
    background-color: black;
}

.achievement-label {
    color: white;
}

.special-kills, .rankings {
    font-size: .8em;
    background-color: rgba(0,0,0,0);
    border: none;
}


.rankings {
    background-size: cover;
}

.special-kills span{
    padding-left: 5px;
    padding-right: 5px;
}

.tabs {
    border-radius: 10px;
    background-color: rgba(255, 206, 86, 0.2);
    border: solid 1px rgba(255, 206, 86, 1);
    color: black;
    font-size: 1em;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 25px;
    text-align: left;
}

.rankings {
    font-size: 1em;
    height: 78px;
}

.tabs div a .circle:hover, .active-tab {
    background-color: rgba(255, 206, 86, 0.2);
}

.tabs div a:hover {
    text-decoration: none;
}

.tabs div a img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.special-kills span img {
    max-width: 45px;
}

#rankings {    
    font-size: .8em;
}

@media only screen and (max-width: 1199px){
    .circle {
        height: 50px;
        width: 50px;
    }
    
    .circle-label {
        font-size: .7em;
    }
    
    #emblem {
        width: 70px;
        height: auto;
    }

    .rankings {
        height: 78px;
    }
}

@media only screen and (max-width: 991px){
    #emblem {
        width: 50px;
        height: auto;
    }
}

@media only screen and (max-width: 767px){
    .banner-images {
        margin-top: 15px;
    }
    
    #guild-emblem {
        margin-top: 15px;
    }
    
    #emblem {
        width: 100px;
        height: auto;
        float: left;
    }

    .circle span {
        font-size: 1em;
    }
}