<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
  <h3 class="gothic">RvR Kills</h3>
  <canvas id="kill-stats" width="400px" height="400px"></canvas>
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" *ngIf="character.rvrStats.killedByMostNumKills > 0">
      <div class="circle"><span>{{character.rvrStats.killedByMostNumKills}}</span></div>
      <p class="circle-label">Times Killed by <a>{{character.rvrStats.killedByMostName}}</a></p>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" *ngIf="character.rvrStats.killedMostNumKills > 0">
      <div class="circle"><span>{{character.rvrStats.killedMostNumKills}}</span></div>
      <p class="circle-label">Times has Killed <a>{{character.rvrStats.killedMostName}}</a></p>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="circle"><span>{{character.killDeathRatio}}</span></div>
      <p class="circle-label">Kill to Death Ratio</p>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="circle"><span>{{character.soloKillRatio}}</span></div>
      <p class="circle-label">Solo Kill to Kill Ratio</p>
    </div>
  </div>
</div>
