<p>
  Welcome to the sample home page!
  Check out a <a routerLink="/character/Burfo">sample character profile</a> or <a routerLink="/character/Testchar"> or another</a>.
</p>
<p>
  You can also view a <a routerLink="/guild/Test Guild">sample guild page</a>
</p>

<div class="row">
 <div class="col-lg-6">
      <div class="input-group">
        <input #search type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button (click)="doPlayerSearch(search.value)" class="btn btn-secondary" type="button"><span class="glyphicon glyphicon-search" id="search-button"></span></button>
        </span>
    </div>
  </div>
</div>

<div class="row">
 <div class="col-xs-12 col-md-6 search-results-holder">
    <herald-data-table [dataListener]="searchDataSubject"></herald-data-table>
 </div>
</div>
