<div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 col-md-offset-2 col-lg-offset-2">
  <!-- todo has dummy data; link into data model -->
  <h3 class="gothic">Recently Earned</h3>
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div class="circle achievement"><span><img class="img-rounded" src="assets/icons/diablo-skull.svg"></span></div>
      <p class="circle-label achievement-label">Epic Challenger</p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div class="circle achievement"><span><img class="img-rounded" src="assets/icons/gladius.svg"></span></div>
      <p class="circle-label achievement-label">2016 Duel Tournament</p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div class="circle achievement"><span><img class="img-rounded" src="assets/icons/hibernia.svg"></span></div>
      <p class="circle-label achievement-label">Bane of Hibernia</p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div class="circle achievement"><span><img class="img-rounded" src="assets/icons/midgard.svg"></span></div>
      <p class="circle-label achievement-label">Bane of Midgard</p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div class="circle achievement"><span><img class="img-rounded" src="assets/icons/crystal-wand.svg"></span></div>
      <p class="circle-label achievement-label">2k Resurrections</p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div class="circle achievement"><span><img class="img-rounded" src="assets/icons/armsman.jpg"></span></div>
      <p class="circle-label achievement-label">Server 1st: 50 Armsman</p>
    </div>
  </div>
</div>
